@using Microsoft.AspNetCore.Identity
@using MovieApp.Core.Domain.IdentityEntites
@using MovieApp.UI.Areas.Admin.Data
@inject UserManager<ApplicationUser> _userManager
@model IEnumerable<AdminViewModel>

@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";

    async Task<string> ReturnRole(Guid userId)
    {
        var user = await _userManager.FindByIdAsync(userId.ToString());
        if (user == null)
            return "NoRole";
        var roles = await _userManager.GetRolesAsync(user);
        return roles.FirstOrDefault() ?? "No Role";
    }
}

<h2>Admin Dashboard</h2>

<div class="mb-3">
    <a asp-action="Register" asp-controller="Account" asp-area="" class="btn btn-primary">
        <i class="bi bi-plus-circle-fill"></i>
        Add New User
    </a>
    <a asp-controller="Genre" asp-action="UploadFromExcel" asp-area="" class="btn btn-primary">
        <i class="bi bi-cloud-plus"></i>
        Upload Genre
    </a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Number of Favorite Movies</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>@user.FavoriteMoviesCount</td>
                <td>
                    @await ReturnRole(user.UserID)
                </td>
                <td>
                    <form asp-action="RemoveUser" asp-controller="Home" asp-area="Admin" method="get" onsubmit="return confirm('Are you sure you want to delete this user?');">
                        <input type="hidden" name="userID" value="@user.UserID" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i> Remove
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
